html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: arial, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    background: linear-gradient(to bottom, #F8FBFD, #fff, #FAFBFD);

    form {
        margin-top: 2rem;
        height: 1.5rem;
    }

    input[type="text"] {
        width: 88%;
        border: 1px #bbbbbb solid;
        padding-left: .5rem;
    }

    input[type="submit"] {
        box-sizing: border-box;
        width: 30px;
        padding: 0;
        line-height: 0;
        background: linear-gradient(to bottom, #f0f0f0 50%, #d2d2d2 50%);
        border: 1px solid #707070;
        border-radius: 3px;
    }

    img {
        max-width: 80vw;
        object-fit: contain;
    }
}

nav {
    --navColor: #0a6acd;
    --navHoverColor: #539bfe;

    ul {
        padding: 0;
    }

    & > ul {
        display: flex;
        flex-direction: row;
        column-gap: 1px;
        background-color: #dddddd;
        border-top: 1px solid #cddce5;

        li:hover > a {
            text-decoration: underline;
            color: var(--navHoverColor);
        }

        a {
            text-decoration: none;
            color: var(--navColor);
        }

        & > li {
            flex: 1;
            border-bottom: 1px #0f5e97 solid;
            background: linear-gradient(180deg, rgba(211, 222, 231, 1) 0%, rgba(248, 249, 251, 1) 25%, rgba(248, 249, 251, 1) 50%, rgba(202, 219, 229, 1) 100%);

            & > a {
                display: block;
                line-height: 2.5rem;
                font-size: 1.1rem;
                text-align: center;
            }
        }

        li {
            position: relative;
            list-style: none;

            & > ul {
                display: none;

                @media screen and (max-width: 992px) {
                    position: relative;
                }
                position: absolute;
                z-index: 5;
                width: 100%;
                padding-top: 3px;

                li {
                    background-color: #eef3f7;
                    padding-left: 1em;
                    font-size: 13px;

                    &:first-child {
                        border-top: 10px solid #f1f6f8;
                    }

                    &::before {
                        content: "> ";
                        color: var(--navColor);
                    }

                    &:hover::before {
                        color: var(--navHoverColor);
                    }
                }
            }

            &:hover > ul {
                display: block;
            }
        }
    }
}

.breadcrumb li {
    color: #3157a8;
    font-weight: lighter;
    font-size: 12px;

    a {
        color: inherit;
        font-weight: inherit;
        text-decoration: none;
    }

    &:nth-child(1) {
        font-weight: 600;
    }
}

main {
    --sectionBlue: #0e5f96;
    --sectionBaseColor: #535353;
    --sectionRed: #9c2f03;
    --sectionBackground: #f1f6f8;

    h1, h3 {
        color: white;
        background-color: var(--sectionBlue);
        font-weight: bold;
        text-transform: uppercase;
    }

    h1 {
        font-size: 16px;
    }

    h3 {
        font-size: 13px;
    }

    ul {
        padding: .5rem 0 0;

        li {
            margin-top: .5rem;
            list-style: none;
            font-size: 12px;
            color: var(--sectionBaseColor);
        }
    }

    a {
        color: #0a6acd;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;

        & > img {
            margin-right: .5rem;
            width: 60px;
            height: 60px;
        }
    }

    section {
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 2px 0 0 #DADADA;
    }

    & > section {
        height: 100%;

        & > div {
            background-color: var(--sectionBackground);

            &.summary {
                color: var(--sectionBlue);
                background-color: white;
                font-weight: bold;
            }

            & > div {
                padding-right: 1rem;
            }
        }
    }

    aside > section {
        background-color: var(--sectionBackground);

        a {
            color: var(--sectionBaseColor);
            font-size: 12px;
            font-weight: normal;
        }

        span.date {
            color: var(--sectionRed);
            font-weight: bold;
        }

        &:nth-child(even) {
            h3 {
                background-color: var(--sectionRed);
            }

            div > a {
                color: var(--sectionRed);
            }
        }

        &:nth-child(odd) {
            h3 {
                background-color: var(--sectionBlue);
            }

            div > a {
                color: var(--sectionBlue);
            }
        }

        & > div > a {
            font-weight: bold;
        }
    }
}

footer {
    background-color: #008bd3;
    color: white;
    font-size: 12px;
    border-radius: 0 0 10px 10px;
    overflow: hidden;

    & > div {
        &:first-child {
            > ul {
                display: flex;

                & > li {
                    list-style: none;
                    font-weight: bold;

                    p {
                        margin-left: 1rem;
                    }

                    & > ul > li {
                        color: #43bffe;
                        list-style: disc;

                        a {
                            color: white;
                            text-decoration: none;
                            font-weight: normal;
                        }
                    }
                }
            }
        }

        &:last-child {
            background-color: #00327b;
            text-align: center;
            color: #042352;
            font-weight: bold;

            a {
                line-height: 2rem;
                text-decoration: none;
                color: #bad2df;
            }
        }
    }
}